/ Header area
.pageContent.manageContentMargin
  .container
    .about-pagedefaultOuter
      %h1.h2 About Us
      .pageContentDefault
        %p Ediofy is an online educational platform for health professionals and students to connect, learn and share their knowledge.
        %p As doctors who have worked in the health system for years, our team have   experienced first-hand the pressure faced by colleagues.
        %p With the demands of everyday shift work and continuing professional   development (CPD), keeping up with our responsibilities can be   overwhelming – especially for those of us in training.
        %p We knew there was a better way to help health professionals advance their skills: a more engaging, social learning experience.
        %p That’s why we created Ediofy: a dedicated hub where you can access and   share educational content and experiences, better manage your CPD, and   foster social connections.
        %p We believe that a social learning environment like Ediofy will improve   not only our own skills and wellbeing as health professionals, but the   health of the community as a whole.
        %p Because the best mentor you can have, is all of them.
        %p
      %h2.h2 Meet the team
      .pageContentDefault
        .about-card
          %img.img-left.profile-img{:alt => "Chris Peyton", :src =>  image_url('ediofy/team/chris.jpg')}/
        .about-container
          %h2 Dr Chris Peyton MBChB, MACPE
          %p.about-title Co-Founder and Director 
          %p
            Chris is the driving force behind Ediofy - hell bent on improving not just patient outcomes, but improving the quality and accessibility of education and CPD accrual for all health professionals worldwide. 
          %p Chris graduated from Glasgow University in 2007 and continues to work clinically in Emergency Departments in rural Australia.
          %p He has spent much of his career building medical businesses with a focus on online education - including iMeducate that has helped over 20,000 medical professionals pass their exams to date.
          %p Chris is also the previous founder and director of an after hours medical service that provided gold star healthcare to the South West region of Western Australia and earned him a Citizen of the Year Award nomination for his outstanding contribution to community health.
          %p
        .about-card
          %img.img-left.profile-img{:alt => "Haley Thompson", :src =>  image_url('ediofy/team/haley.jpg')}/
          .about-container
            %h2 Ms Haley Thompson (Peyton)
            %p.about-title Co-Founder and Marketing Whiz
            %p Haley is Ediofy’s Co-Founder and is your go to for all collaborations, promotions and media enquiries. She is also the Marketing Manager for iMeducate.com - a medical exam preparation site and the previous Co-Founder and Marketing Director for a large after hours medical practice servicing West Australia’s South West region.
            %p Haley is also a TV presenter who has been on Australian TV screens on a variety of prime time travel and lifestyle shows for over 20 years.
            %p
        .about-card
          %img.img-left.profile-img{:alt => "Rodney Peyton", :src =>  image_url('ediofy/team/rodney.jpg')}/
          .about-container
            %h2 Dr Rodney Peyton OBE, TD, BSc(Hons), MBChBAO(Educ), MD, FRCS(Eng, Ed, Glasg &I), FRCP(Lond), PGDL
            %p.about-title Medical Expert / Genius 
            %p A Consultant Surgeon based in Northern Ireland; Rodney is a legend when it comes to medical education. As well as creating ‘The Peyton Method of Surgical Teaching’ - which is referenced in more than 100 research articles - Rodney has authored and co-authored many courses, including the internationally taught ‘Training the Trainers’ course. 
            %p He is recognised as a Fellow of all 4 of the UK and Irish Surgical Colleges and received his OBE from Prince Charles in recognition to his services to medicine during The Troubles in Northern Ireland. Rodney is also the previous Head of Examiner Training for Royal Colleges of Surgeons in Great Britain & Ireland and is also a Medico-Legal Authority. You may recognise his name as the creator of the Peyton Method of Surgical Teaching that is taught worldwide.
            %p
        .about-card
          %img.img-left.profile-img{:alt => "Al Nouaman Mekouar", :src =>  image_url('ediofy/team/nouaman.jpg')}/
          .about-container
            %h2 Al Nouaman Mekouar (Nano)
            %p.about-title Our Tech Guru
            %p Nano is a Full Stack and Mobile Development machine with a heavyweight software development and architecture background. He is also a published app developer of multiple products in the augmented reality, computer vision and artificial intelligence space. 
            %p