/ Header area
.pageContent.manageContentMargin
  .container
    .pagedefaultOuter
      %h1.h2 Help  FAQs
      .pageContentDefault
        .accordianContent
          %h4 What type of content can I share?
          .innerContent
            %p You can create or edit multiple choice questions, upload images, videos, PDFs, audio files, discussions and links to articles and useful resources. Patient information or identifying characteristics are strictly forbidden.
          %h4 How do I share content?
          .innerContent
            %p Sharing is easy - click the &#x2018;Share&#x2019; icon on the top right of the navigation bar, then select the type of content you wish to upload or create. You can either drag and drop a file or browse your device for a file to upload. Type in a short, descriptive title to let people know the subject of the content and search for it quickly and easily. Add more information and include the relevant resources and hashtags to help others find your content. You can choose to publish your content in the public hub for within a public or private group.
          %h4 Why is tagging my content so important?
          .innerContent
            %p Tagging helps people find content quickly and easily. The more specific and detailed your tags are, the easier it is to find exactly what you&#x2019;re looking for.
    
          %h4 What are &#x2018;conversations&#x2019;?
          .innerContent
            %p Conversations are a way for users to discuss cases or daily issues and get advice, feedback and connect with other users regarding similar interests, events or experiences. If you need advice but don&#x2019;t want to show your identity, you can switch on the &#x2018;ghost mode&#x2019; and post and comment anonymously. Anything posted while in ‘Ghost’ mode must abide by our strict conduct guidelines, terms and conditions. Any content posted that does not meet our guidelines will be flagged, reported and may result in your account being suspended.       

          %h4 How do I create a private group?
          .innerContent
            %p Easy. Click on ‘Groups’ in the navigation bar at the top of your screen. On the right you will see the option to ‘Create Group’. Once you have agreed to abide by our code of conduct you can start creating your group with a name, cover image, description and even a link to a relevant website. You can invite members by name or email and select whether you want your group to be public or kept private. Creating a public group means anyone can join and see the content you upload and interact. Private groups are great for departments to directly share and communicate with it’s chosen members. You can also create pricvate study groups for sharing with just your chosen colleagues or project members.


          %h4 How do I follow a user/colleague and what does this mean?
          .innerContent
            %p Simply click on the lock icon on the group or users profile image. If their profile is set to public, you will automatically be connected, if it is set to private - they will receive a follow request and be able to approve or dismiss the request. Following a group or user means that you can connect with, tag and see the content they have created.




          %h4 How do I edit or delete content that I&#x2019;ve uploaded?
          .innerContent
            %p To edit, open the item of content, click on ‘Edit Media’ on the right, change what you want to change and click. ’Save’ This will update the content. To delete, open the item of content, click on ‘Edit Media’ on the right and scroll down until you see ‘delete’ in red.


          %h4 Can I add comments to Ediofy content ?
          .innerContent
            %p Yes. You can add, edit, and delete your comments. The commment box can be found under each shared content. 


          %h4 What if I don&#x2019;t have an image to upload with my content?
          .innerContent
            %p You receive more CPD points for sharing content with images and other users can also earn CPD points by adding images to your content if you haven&#x2019;t included an image. If no image is available, Ediofy will randomly generate an image placeholder. Should you find a suitable image for your content later, you can always edit your content to include the image.

          %h4 Can I add images to another user&#x2019;s content?
          .innerContent
            %p We encourage it! If you see content that doesn&#x2019;t include and image or if you think you can provide a more suitable image - simply edit the content or create new content based on the original. You&#x2019;ll earn CPD points for uploading suitable images to blank content.
         
          %h4 How do I earn CPD points and are they recognised and accredited by my institution?
          .innerContent
            %p The time you spend researching, learning and creating content to help other users learn earns you CPD points. You can view your CPD points at any time on your profile. These will be accredited so that you can continue your required professional development anywhere, anytime.  Points are automatically accrued and logged which means compiling your end of year CPD report is as easy as clicking a button. You can even add reflective commentary to your report as you go.
          %h4 Can others view my points?
          .innerContent
            %p No, your CPD points are kept private and can only be viewed by you. 
          %h4 Can I directly message another user or colleague?
          .innerContent
            %p This feature will be available soon!
          %h4 How do I include another user in a comment or conversation?
          .innerContent
            %p Simply tag the person you wish to include by typing the @ symbol before their name. The user will receive a notification alerting them to your post.
          %h4 How do I protect the privacy of my patient?
          .innerContent
            %p Image editing software will soon be installed to allow you to blur or edit recognisable patient features (like tattoos and faces) in images and case studies. By using Ediofy, you accept the terms and conditions and confirm that you will not share personal patient details like full names, locations or images that clearly identify the patient.
          %h4 What does Ediofy do with my information?
          .innerContent
            %p As part of our strict privacy policy, your information and data will not be shared with external companies or be used in any other way except to help others learn online.
          %h4 Do I need patient consent to upload content?
          .innerContent
            %p Patient information and any identifable characteristics are strictly forbidden. As long as the patient is not easily recognisable in any imagery or content and that there are no personally identifying details, you will not need your patient&#x2019;s consent.
          %h4 What can I search for and how can I make my searches more specific?
          .innerContent
            %p The more you use Ediofy, the more our system will learn which content is most suited to you and your learning journey. When first signing up you will be asked which areas of education are of interest to you - you can update these interests at any time from your profile page. You can search for content by title, hashtag, author or keyword and then refine the results based on the type  of content you want  to view, ie; videos, MCQ’s, audio files, PDF's or images. You can also refine the content by latest, most popular, top rated or trending.
          %h4 How do I change my notification settings?
          .innerContent
            %p Simply go to the drop down menu under your profile image in the navigation bar (top right). Select ‘Account Settings’ and then ’Notification settings’ and choose which notification you receive.
          %h4 Can I mute notifications for a conversation or comments?
          .innerContent
            %p Notifications for conversations or comments can be modified in your notification settings under your profile image in the navigation bar. 
          %h4 How do I narrow my search results to see just one type of content?
          .innerContent
            %p Next to the search results you will see a drop-down menu that allows you to narrow your results by the type of content &#x2013; e.g. by questions, videos, audio, PDF, images, conversations or &#x2018;all&#x2019;. You can also narrow results by most recent, most popular and trending content.
          %h4 What is &#x2018;Ghost mode&#x2019; and is it really anonymous?
          .innerContent
            %p Turning ‘Ghost’ mode ON ensures that all of your search history, posts, comments, conversations and all activity on Ediofy is kept anonymous. This can be helpful when you’re not confident about asking a question or seeking feedback. This is a safe place to learn and share experiences. Comments in ‘Ghost’ mode still need to adhere to Ediofy’s strict behaviour policy and terms and conditions. Any inappropriate, misleading or inaccurate content will be reported and may result in an account being suspended.
          %h4 How do I report inappropriate or incorrect content?
          .innerContent
            %p Below all comments and items of content you will see a ‘flag’ symbol that allows you to report the comment or content directly to admin. These reports are reviewed by admin to ensure they adhere to Ediofy’s strict conduct policy and terms and conditions. If the item is deemed to be inappropriate, misleading or inaccurate it will be removed and the authors account may be suspended indefinitely.
          %h4 What happens if my content has been reported or deleted by Ediofy?
          .innerContent
            %p Reported content and accounts will be reviewed by Ediofy. If found to be in breach of our terms and conditions or code of conduct, the content may be deleted. If repeat breaches are made by a user, they may have their account deleted and be banned from Ediofy.

          %h4 Can people see my history?
          .innerContent
            %p Not if your profile is set to private.
          %h4 What are &#x2018;stories&#x2019; and how do I create them?
          .innerContent
            %p This feature will be available soon. Here you will be able to compile a study list of your favourite content or create case studies using different media.
          %h4
            Can I add to a story or update an existing question
            once it&#x2019;s been posted?
          .innerContent
            %p Yes. Simply click &#x2018;Edit&#x2019; to update or add content.
          %h4 Can I upload promotional content?
          .innerContent
            %p No. As per our terms and conditions, no promotional content is allowed as Ediofy is to be used purely for learning and teaching. While you may have opinions on different methods, promoting content for the purposes of selling or advertising particular brands or companies are strictly prohibited and will be deleted.
          %h4 How do I invite other users to join Ediofy?
          .innerContent
            %p Select &#x2018;Your Connections&#x2019; from the drop-down menu below your profile photo in the top right-hand corner. You can browse through suggested connections based on your workplace, university, skill level or mutual connection. You can also search for users from your contacts, or in the main search bar in the centre of the navigation bar and click &#x2018;follow&#x2019; on their profile.
          %h4 How do I delete my account?
          .innerContent
            %p We’ll be sad to see you go but it happens. If there’s something we can improve, we’d love you to drop us a line at <a href="mailto:hello@ediofy.com">hello@ediofy.com</a>   - we’re always looking to improve and Ediofy exists for YOU. If you want to delete your account, just click on your profile image in the navigation bar, select ‘account settings’ in the drop down menu and then click ‘deactive account’ on the right hand side. Your profile, image and all information will be permanently deleted and not stored. Please note that once deactivated, you will need to set up a new account if you wish to rejoin Ediofy.
:javascript
  $(document).ready(function(e) {
      $('.accordianContent h4').click(function(e) {
          $('.accordianContent h4').removeClass('activeAC');
      $('.accordianContent .innerContent').slideUp();
      $(this).addClass('activeAC');
      $(this).next('.innerContent').slideDown();
      });
  });
/ Footer area
