/ Header area
.pageContent.manageContentMargin
  .container
    .pagedefaultOuter
      %h1 Privacy Policy
      %p This Privacy Policy describes the ways in which Coached Education Pty Ltd, collects, processes and protects your personal information and data. In this policy, all references to “we” or “us” refers to Coached Education Pty Ltd (ACN 619 980 602).
      %p 
        We operate an educational and collaborative
        platform allowing our users to create, upload and
        view educational material, record learning
        activities, view medical cases, review a database
        of medical images, comment and ask questions
        and direct message other users (<strong>the Ediofy
        Platform</strong>). In this policy, all references to “our
        services” refers to these services we provide
        through, and any additional services we provide in
        connection with, the Ediofy Platform.
        

      %p
        We value your privacy and are committed to
        safeguarding the information we receive in
        connection with our business operations. To
        achieve this commitment to privacy, we comply
        with the Australian Privacy Principles and the
        Notifiable Data Breach Scheme contained in the
        Privacy Act 1988 (Cth). This legislation governs
        the way we collect, use, disclose and store your
        personal information and how we notify you in
        circumstances where your information is lost or
        subject to unauthorised accessed. For further
        information regarding Australia’s privacy
        legislation, please refer to the Office of the
        Australian Information Commissioner:
        %ul.terms-privacy-list-bullets
          %li online at #{link_to "www.oaic.gov.au"};
          %li by email at #{mail_to "enquiries@oaic.gov.au"} ; or
          %li  by telephone on 1300 363 992.


      %p
        By accessing our website, using our services,
        including the Edifoy Platform, or otherwise
        providing us with personal information, you
        confirm that you have read and agree to the terms
        of this Privacy Policy and expressly consent to the
        collection, storage, use and disclosure of your
        personal information in accordance with the terms
        of this Privacy Policy.

      %p
        If you do not feel comfortable with any aspect of
        this Privacy Policy or do not agree to the terms of
        this Privacy Policy, please immediately leave the
        website, discontinue the use of our services and
        contact one of our helpful staff members on
        #{mail_to "privacy@ediofy.com"}.

      %h3 1 INFORMATION WE COLLECT

      %p
        We collect information about you in order to
        provide you with our services. You may choose whether to provide us with this information,
        however your choices may affect our ability to
        offer you part or all of our services.

      %p Personal information we collect may include:

      %ul.terms-privacy-list
        %li
        (a) <strong>Registration Information</strong>: when you
        register with our platform, you provide
        information including your name, title,
        professional title, email address, contact
        information, location (city) and any other
        information which you may provide us.
        %li
        (b) <strong>Verification Details</strong>: if you create a profile
        on our platform as a verified health
        professional we will collect information
        about your qualifications, including your
        profession or job position, experience level
        and education.
        %li
        (c) <strong>Photographic Information</strong>: for use in
        connection with your profile on our platform,
        you may provide us with a photograph of
        you. Your photograph may potentially
        contain ‘sensitive information’ about you,
        such as your racial or ethnic origin or your
        religious beliefs. We only collect
        photographic information about you with
        your consent and as reasonably necessary
        to carry out our services or as otherwise
        permitted by law.
        %li 
        (d) <strong>Financial Information</strong>: in order to facilitate
        payments to use and to receive invoices
        (where applicable) you provide us with
        financial information which may include
        bank details, credit card details or other
        billing information, as applicable.
        %li 
        (e) <strong>Communication Information</strong>: when you
        communicate with us via telephone, email,
        SMS or online, or with third parties (such as
        other users) through our platform, we may
        collect your contact information and any
        other information you choose to provide to
        us.
        %li 
        (f) <strong>Cookie Information</strong>: we use cookies and
        similar tracking technologies on our
        website in order to track the use of the
        Ediofy Platform and our website and
        maintain and improve our services to you.
        Further information on cookies and online data collection is contained in the “Website
        Usage” paragraph below.
        %li 
        (g) <strong>Opinion Information</strong>: from time to time we
        may run surveys or provide you other
        opportunities to comment, react and
        respond to content through the Ediofy
        Platform. When you engage in these
        activities and otherwise provide your
        opinions to us we will collect information
        regarding your opinions and any other
        information you choose to provide us.
        %li 
        (h) <strong>Third Party Information</strong>: whenever
        reasonable and practical to do so, we will
        collect personal information about you
        directly from you. However, in some cases
        we may be required to collect personal
        information about you from third parties
        such as regulatory bodies or from public
        sources. Where we collect information
        about you from a third party, we will take
        reasonable steps to ensure that you are
        made aware of the fact and circumstances
        of that collection. We may also receive
        information from third parties where you
        have authorised the third party to do so.
        %li 
        (i) <strong>Mobile Data Information</strong>: You may access
        or use our services via a mobile device or
        application. We may collect information
        about you and your device, such as your IP
        address, location or device information,
        and any other information provided by your
        mobile device. If you do not want us to
        collect your location information you can
        disable the GPS or location-tracking
        function of your device.
        %li 
        (j) <strong>Third party plugin Information</strong>: In some
        cases, we may have integrated a third party
        plugin into our website. The use of such
        third party plugins may result in data
        collection by both us and the relevant third
        party. We do not control the information you
        share with third parties via these plugins.
        You should refer to the third party’s privacy
        policy to understand their data handling
        practices.


      %h3
        2 WEBSITE USAGE
      %p
        Our website uses “cookies” (small data files
        containing information about you that is stored on
        your hard drive), “embedded scripts” and other
        similar tracking technologies to collect information
        about your use of our website.
      %p
        These tracking technologies are used to track
        your interaction with the website and the Ediofy
        Platform and target your interests to enhance your
        experience.
      %p
        Information collected may include server
        addresses, top level domain names, the date,
        time and duration of a visit, website or platform
        pages access and documents downloaded,
        referring and exit pages, whether you are a
        returning visitor, the type of browser used and the
        hardware type and operating system of the device
        used.
      %p
        You may decline our cookies if your browser addon permits, but doing so may interfere with your
        use of our website and services. For more
        information on disabling cookies, refer to the
        ‘Help’ section of your browser.

        %h3
          3 WHY WE COLLECT INFORMATION

        %p 
        We collect your personal information in order to
        carry out our business operations in the most
        professional and efficient manner possible. We
        use your information for the purpose for which it
        was collected. Some examples of why we collect
        your personal information include to:

        %p

        %ul.terms-privacy-list-bullets
          %li
            provide our services to you.
          %li
            to identify our users
            and potential users.
          %li
            set-up and update your
            account.
          %li
            comply with legal
            obligations.
          %li
            provide user support. 
          %li
            resolve disputes.
          %li
            to contact you
            regarding our services
            to you.
          %li
            respond to your
            enquiries and
            concerns.

          %li
            evaluate applications
            to be registered on the
            Ediofy Platform as a
            verified health
            professional.

          %li
            to publish public
            feedback and
            comments on the
            Ediofy Platform.

          %li
            detect, prevent and
            investigate potential or actual fraud to you, us
            or any third party.

          %li
            to advertise our
            services or products and services
            of third parties.

          %li
            deliver targeted
            marketing materials to
            you regarding new
            services and offers we
            believe may be of
            interest to you.

          %li
            collect fees and
            payments owing to us
            and to perform
            authorised financial
            transactions with you. 

          %li
            compare information
            provided by you for
            accuracy and verify it
            with third parties where
            appropriate. 

          %li
            for insurance
            purposes. 

          %li
            in any other
            circumstances with
            your prior consent. 


      %p
        Where your personal information is not ‘sensitive
        information’ we may use your information for
        reasonably expected secondary purposes related
        to the above.

      %p
        In addition, we may use your information as
        otherwise authorised by law. 

      %h3
        4 INFORMATION WE DISCLOSE

      %p 
        We will only disclose your information to the
        extent required to provide our services to you, for
        the purposes outlined in the “Why We Collect
        Your Information” paragraph above or as
        otherwise requested or authorised.

      %p 
        In particular, personal information that you provide
        and that we collect that is collected for the
        purposes of public display through the Ediofy
        Platform, which includes your public profile
        content, public comments and opinions and
        content and information you upload to be publicly
        available on the Ediofy Platform will be disclosed
        to other users, at their discretion, through the
        Ediofy Platform. To the extent any personal
        information that you provide and that we collect
        that is collected for the purposes of private
        communication or display, including private
        communications, comments and opinions and
        information you upload to be privately accessible
        by other users in private forums, message threads
        and groups through the Ediofy Platform will be
        disclosed to such other users, at their discretion,
        through the Ediofy Platform. 

      %p
        We will not otherwise disclose your personal
        information to any third party, other than in
        accordance with the Privacy Act.

      %p
        We will not rent or sell your information to third
        parties without your consent. 

      %h3
        5 DIRECT MARKETING
      %p
        Where we use your personal information to send
        you marketing and promotional information you
        will be provided with the opportunity to opt-out of
        receiving such information. Unless you exercise
        your right to opt-out of such communication, you
        will be taken to have consented to receive similar
        information and communications in the future. 

      %h3
        6 OVERSEAS DATA TRANSFERS
      %p
        In connection with providing our services to you,
        we may store, use, or disclose your personal
        information in countries outside of Australia for the
        purposes of data storage through Amazon’s webservices platform.
        We will not send your personal information to
        recipients outside of Australia without first:
      %ul.terms-privacy-list-bullets
        %li 
          taking reasonable steps to ensure that the
        overseas recipient complies with the
        Australian Privacy Principles and this
        Privacy Policy;
        %li
          obtaining your consent; or
        %li
          otherwise complying with the Privacy Act
      %p
        By reviewing this Privacy Policy and using our
        services, you consent to any such overseas
        transfers, provided that they are otherwise in
        accordance with this Privacy Policy. 

      %h3
        7 HOW WE HANDLE INFORMATION
      %p
        We take reasonable steps to protect personal
        information held by us from misuse, loss or
        unauthorised access, modification or disclosure.
      %p
        Personal information we collect and hold is stored
        on secure servers and is only accessible by those
        persons who need access to the information or in
        order to carry out our services. We also maintain
        physical security measures to protect the use and storage of physical records containing your
        personal information.
      %p
        We will only retain your information for as long as
        required for the purpose we use your information
        in accordance with the Privacy Policy, or to
        comply with legal obligations or resolve disputes.
        We will take reasonable steps to destroy or deidentify your personal information when we are no
        longer permitted to keep it. 

      %h3
        8 YOUR RIGHTS & CHOICES
      %p
        You are entitled to access the personal
        information we hold about you and may request
        that we correct any errors in the information we
        hold.
      %p  
        If you would like to access or correct your personal
        information held by us, please contact our Privacy
        Officer at the address below.
      %p
        We will take reasonable steps to allow you to
        access your information unless circumstances
        exist that would prohibit us from doing so.
      %p
        We will correct your personal information where
        we are satisfied that the information is inaccurate,
        out of date, incomplete, irrelevant or misleading. If
        we correct any personal information that we have
        disclosed to third parties we will take reasonable
        steps to notify those parties of the change or
        update. You accept that, following a request to
        correct your information, we may be required to
        take reasonable steps to verify your identity or the
        personal information, which may include
        confirmation with third parties. 

      %h3
        9 HOW TO CONTACT US
      %p
        If you have any queries, concerns or complaints,
        or would like to discuss any matter concerning
        your privacy, please contact our Privacy Officer at
        #{mail_to "privacy@ediofy.com"}.
      %p
        If you are concerned that we may have breached
        the Australian Privacy Principles, please contact
        us immediately. We will undertake a reasonable
        and expeditious assessment of the concern and
        suggest relevant resolution processes. 
      %p
        Alternatively, you may wish to contact the Office
        of the Australian Information Commissioner at the
        contact details provided above.



      %h3
        10 CHANGES TO THIS PRIVACY POLICY
      %p
        We may update this Privacy Policy from time to
        time. If we change this Privacy Policy in any
        material way, we will post a notice on our website
        prior to the change becoming effective for a period
        of 30 days. We encourage you to periodically
        review this page for the latest information on our
        privacy practices.
      %p
        The effective date of this Privacy Policy is: <strong>20
        June 2020</strong>
