- if people_results.count > 0
  .items
    - people_results.each do |result|
      = render partial: "ediofy/shared/results/people/#{result.class.name.downcase}", locals: { related: false, result.class.name.downcase.to_sym => result }
- else
  .noRecentView.text-center.items
    %p No matching result found for people
