.content
  %section.content-body

    %p iMeducate.com.au is owned by Oz iMedic

    %h3 Use of Our Website

    %p Please read the following Terms and Conditions, which relate to information regarding general use of our website and the terms and conditions relating to purchases of subscriptions. By using our websites, you are agreeing to these Terms and Conditions whether as a registered user or subscriber. By using our site you are indicating you accept these terms of use and that you agree to abide by them. From time to time we may change these Terms and Conditions, and will post revisions on this website. We recommend that you read these Terms and Conditions prior to using our sites and thereafter regularly review any changes and you are responsible for doing so.

    %h3 Privacy

    %p Use of the data that you provide us, or which is collected by us on our website, is governed by our privacy policy below. By using our site you consent to such processing.

    %h3 Access to the iMeducate Website

    %p We try to ensure that website availability is uninterrupted and that transmissions will be error-free. However, we cannot guarantee that your access will not be suspended or restricted from time to time, including allowing for repairs, maintenance or the introduction of new facilities or services. We of course try to limit the frequency and duration of any suspension or restriction.

    %p Accounts and Passwords If you have registered or subscribed to use any service within the iMeducate Website, any user identification code or password is personal and non transferable and must be kept confidential and used only by you (unless agreed in writing with Oz iMedic) for the specified term of your subscription or registration period (which may be terminated at the discretion of Oz iMedic). We have the right to take action should this requirement be breached.

    %p Our Products and Services iMeducate is an online revision website for health professionals. A description of what is included in each iMeducate subscribed service is contained on our website including the period of each subscription. News headlines and any other service which are currently available without a subscription are also indicated on the website.

    %p The website has not been optimised for use via mobile devices and users wishing to do so should be aware that they may not experience full functionality of the site. Placing an Order and our Acceptance When you request an online purchase, the language that we offer to you for the conclusion of this process will be English only.

    %p When submitting your request to purchase any iMeducate service, you will be asked to indicate which products you wish to subscribe to.

    %p All payment for products on our site will be handled through a secure payment page you submit a payment you are making an offer to purchase the relevant iMeducate product or service, which we may accept or decline. After you submit your offer, you will receive confirmation that your payment was either successful or unsuccessful.

    %p For online payments, we may at that time allow you to have temporary access online to the iMeducate service that you wish to subscribe to, but this is a gesture of goodwill and does not represent acceptance of your offer. Access will need to be made via the user name and password supplied. Irrespective of an online payment, our contract will not become binding until five working days have elapsed after a successful payment is made online and only if we do not contact you. This is in case any pricing errors have occurred and if so we will contact you.

    %p Please note that if you wish to cancel any subscription you have purchased after our contract comes into effect, cancellation shall be at our discretion and if accepted may be subject to a cancellation charge. You hereby agree that no cancellation is allowed after these services have started to be supplied. This does not otherwise affect your statutory rights.

    %p iMeducate services are supplied subject to availability and remaining in current circulation. In the event that we are unable to supply any iMeducate services for the agreed term, we will inform you as soon as possible and provide you with a pro rata refund in the event that you have paid for a period for which we cannot comply. We will not however be liable to the full extent permitted by law, for any direct or indirect loss caused as a result of not being able to supply to you within the subscription for all or any of the periods subscribed to.

    %h3 Prices and Payments

    %p The price that you pay for the iMeducate services you order should be the standard pricing as indicated on the website. These prices are inclusive of all taxes and delivery unless otherwise indicated. They are valid for purchases during the calendar year, to which they relate. All of our prices are in Australian dollars (AUD) and include GST (Goods and services tax) as of March 14th 2011. All subscribers are required to make payment in Australian dollars. Should you be paying from an account outside of Australia, the exchange rate will be calculated by your bank.

    %p We try to ensure that all of the prices on our website are accurate, however errors may occur. If we discover any errors in the prices of the services you have ordered, we will inform you as soon as possible and give you the option of recommencing your order at the correct price or cancelling it. If you do not respond to our contact, we will treat the order as cancelled. If you order and we have already processed your payment, you will receive a full refund.

    %p Payments may be made through the methods specified on Order Summary section of our website. We take all reasonable precautions to keep the details of your order and payment secure. Unless we are negligent however, we cannot be liable for losses caused as a result of unauthorised access to the information provided by you.

    %h3 Refund Policy

    %p Please choose carefully.  We do not normally give refunds if you simply change your mind or make a wrong decision.  You can choose between a refund, exchange or credit where goods are faulty, have been wrongly described, are different to the product purchased on the website or doesn't do what it is supposed to do

    %h3 Intellectual Property Rights

    %p The content, layout, design, data, databases and graphics on this website are protected by Australian and other international intellectual property laws and are owned by Oz iMedic. Unless expressly permitted in writing, and other than printing a certificate you have obtained and displaying our content on your screen and saving this within our iMeducate site, (strictly for your personal non-commercial use), no part of the website and/or its content may be reproduced, stored in any medium, including but not limited to a retrieval system or transmitted, in any form or by any means including but not limited to electronic, digital, paper, mechanical, via photocopying, recording, broadcasting nor shown in public. You may not create any derivative work or make any other adaptation, without our prior written consent. You must not modify any of the copies you have displayed on screen (or in printed certificates) in any way and you may not use any illustrations, photographs, videos or audio sequences or any graphics separately from any accompanying text. Any permitted use of our material above is subject to ensuring that our copyright notices and trade marks appear as they do on our website. If you use any material from our website in breach of these terms of use, your right to use our site will cease immediately and you must at our option return or destroy any copies of the materials you have made in breach. All rights not expressly granted in these terms or any express written licence, are reserved.

    %p The iMeducate trademarks and logos which are displayed on the website are the trademarks of Oz iMedic. Any use including framing, metatags or other text utilising iMeducate's trademark or other trademarks displayed, is strictly prohibited without our express written consent.

    %p Any material you upload to any user forum or via any news voting function will be considered non-confidential and non-proprietary (unless otherwise stated on the site) and we have the right to use, copy, distribute and disclose to third parties any such material for any purpose. We also have the right to disclose your identity to any third party who is claiming that any material posted or uploaded by you to our site constitutes a violation of their intellectual property rights, or of their right to privacy.

    %h3 Permission for use of our intellectual property

    %p Any request for permission to use our content or images, or other use of our intellectual property not authorised under a subscription, should be made by emailing us.

    %h3 Links

    %p Our websites contain links including hyperlinks which may take you outside of the website. Links are provided for your convenience, and an inclusion of any link does not imply endorsement or approval by us of the linked website, its operator or content. We have no control over the contents or functionality of those sites and accept no responsibility for any loss or damages that may arise from your use of them. We are not responsible for any website outside iMeducate, and such websites use will be subject to relevant terms and conditions and privacy policies.

    %h3 Shipping and Delivery Policy

    %p All products and services are delivered electronically, products will be available immediately upon purchase. All prices displayed on this website include shipping costs.

    %h3 Security Policy

    %p
      When purchasing from iMeducate your financial details are passed through a secure server using the latest 128- bit SSL (secure sockets layer) encryption technology.128-bit SSL encryption is the current industry standard. If you have any questions regarding our security policy, please contact our customer support centre
      = mail_to 'admin@imeducate.com.au','admin@imeducate.com.au', :encode => 'javascript'
