= semantic_form_for('', :url => ediofy_root_path, :html => {:method => :get, :role => 'form'}) do |f|
  .yourintrestFilter
    %ul.list-inline.text-right
      %li{style: 'display:none'}
        .sortBy.text-right
          %label Type:
          = content_type_select(:contributors)
      %li
        .sortBy.text-right
          %label Sort by:
          = sort_by_select