#signin-slide-container.pageContent.drawerOpen{style: "position: absolute; top: 0px; width:100%;"}
  .displayTable.clearfix    
    .col-md-6.signinLeft.test.displayCell
    .col-md-6.displayCell.signinForm
      .formOuter#signInForm{style: 'background-color:#FFF;'}
        = render partial: 'sign_in_form'