= render partial: 'signin_slide_content'
%body.home
%header.header.mainHeader.transparent
  .container
    .header__wrapper
      .header__logo
        %a.header__logo-link{:href => "#"}
          %img.header__logo-img{:alt => "header-logo", :src => image_url('ediofy/logo.svg')}/

      %nav.header__menu
        %ul.header__menu-wrapper
          %li.header__menu-item
            %a.header__menu-link{:href => "/faq"} FAQs/Help
          %li.header__menu-item
            %a.header__menu-link{:href => "/about"} About Us
          %li.header__menu-item
            %a.header__menu-link{:href => "mailto:hello@ediofy.com"} Contact
          %li.header__menu-item
            %a.header__menu-link.signin-btn{:href => "#"} Sign in
%section.teach
  .container.over-cut
    .teach__wrapper
      .teach__text.rellax{"data-rellax-mobile-speed" => " 0 ", "data-rellax-speed" => "-1", "data-rellax-xs-speed" => " 0 "}
        .teach__text-title Learn. Share. Teach.
        %p.teach__text-descr
          Open access videos, multiple choice questions, playlists, images, podcasts, discussions and groups for all health professionals. Tailored to suit your chosen speciality and individual learning journey, all while earning CPD.
        %a.teach__text-link.start-btn{:href => "#"} Start learning
      .teach__img.rellax{"data-rellax-mobile-speed" => " 0 ", "data-rellax-speed" => "5", "data-rellax-xs-speed" => " 0 "}
        %svg{:height => "707.35", :viewbox => "0 0 956.221 707.35", :width => "956.221", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %defs
            :css
              .a{fill:url(#a);}.b{fill:#efefef;}.c{mix-blend-mode:lighten;}.aa,.c,.s{isolation:isolate;}.d{fill:#607fe2;}.e{fill:#5073cc;}.f,.q,.s{fill:#8db3b3;}.g{fill:#769f9f;}.h{fill:#ff455c;}.i{fill:#e52949;}.j{fill:#705952;}.k{fill:#d4dcdd;}.l{fill:#c6d9d9;}.m,.r{fill:#fff;}.n{fill:#a9c6c6;}.o{fill:#7297f2;}.p{fill:#e2ecec;}.q,.r,.s{opacity:0.5;}.s{mix-blend-mode:multiply;}.t{fill:#71d1db;}.u{fill:#58c1c6;}.v{fill:#edddc5;}.w{fill:#81e5ea;}.x{fill:#77d1f3;}.y{fill:#aaedf8;}.z{fill:#ff6971;}.aa{fill:#fffbe0;opacity:0.32;}.ab{fill:#604a4f;}.ac{fill:#ffe05f;}.ad{fill:#f7e2bc;}.ae{fill:#70a1a0;}.af{fill:#6fc1f0;}.ag{fill:#e0cfb1;}.ah{fill:#0e5466;}.ai{fill:#32ab9c;}.aj{fill:#268075;}.ak{fill:#4f938b;}.al{fill:#8d5746;}.am{fill:#210075;}.an{fill:#6a4134;}.ao,.ar{fill:#3f536e;}.ao{stroke:#fff;stroke-width:2px;}.ap{fill:#3f3d56;}.aq{fill:#f2f2f2;}.as{fill:#a33bbd;}.at{fill:#4c2a54;fill-rule:evenodd;}.au{fill:#ffc8a5;}.av{fill:#013c66;}.aw{fill:#1b2b80;}.ax{fill:#0f6bc6;}.ay{fill:#1960a7;}.az{fill:#002b32;}.ba{fill:#99c5cc;}.bb{fill:#3bd7e6;}.bc{fill:#f8b083;}.bd{fill:#172866;}.be{fill:#034147;}.bf{fill:#023135;}
            %lineargradient#a{:gradientunits => "objectBoundingBox", :x1 => "0.822", :x2 => "0.209", :y1 => "0.171", :y2 => "0.866"}
              %stop{:offset => "0", "stop-color" => "#9013fe"}
              %stop{:offset => "1", "stop-color" => "#4151dd"}
          %g{:transform => "translate(0 2.267)"}
            %path.a{:d => "M5280.991,1006.066c-103.667-67.418,75.855-176.219,36.107-283.828s-170.919,3.024-241.5,56.039-153.29-41.834-208.121-44.381-23.972,38.909-48.7,92.607-207.019,9.1-280.1,60.97,43.345,162.244,53.148,228.06-116.073,140.292-35.426,237.977l400.636-1.931c40.314-10.109,66.615-18.118,66.615-18.118C5398.714,1201.334,5384.656,1073.485,5280.991,1006.066Z", :transform => "translate(-4387.916 -679.121)"}
            %path.b{:d => "M7474.654,968.338c0,12.915-332.435,31.946-574.627,10.246-245.136-21.961-381.592-3.724-381.592-16.642s225.178-23.25,471.8-23.25S7474.654,955.421,7474.654,968.338Z", :transform => "translate(-6518.435 -283.36)"}
            %g.c{:transform => "translate(90.451 115.493)"}
              %path.d{:d => "M7011.292,274.8h-29.731a4.4,4.4,0,0,0-4.36,4.361v38.451h38.45V279.16A4.347,4.347,0,0,0,7011.292,274.8Z", :transform => "translate(-6710.129 -269.012)"}
              %path.e{:d => "M6993.79,288.436a17.121,17.121,0,0,1,5.073-13.478c-.792-.079-1.584-.159-2.378-.159h0c-10.623,0-19.186,7.373-19.186,16.411v26.321h18.473Z", :transform => "translate(-6710.148 -269.012)"}
              %ellipse.f{:cx => "40.195", :cy => "22.674", :rx => "40.195", :ry => "22.674", :transform => "translate(699.333 528.94) rotate(-76.101)"}
              %ellipse.f{:cx => "40.195", :cy => "22.674", :rx => "40.195", :ry => "22.674", :transform => "translate(234.292 528.946) rotate(-76.101)"}
              %rect.g{:height => "39.64", :transform => "translate(40.725 472.83)", :width => "687.363"}
              %path.d{:d => "M7415.989,274.8h-29.729a4.4,4.4,0,0,0-4.361,4.361v38.451h38.452V279.16A4.4,4.4,0,0,0,7415.989,274.8Z", :transform => "translate(-6793.979 -269.012)"}
              %path.e{:d => "M7398.39,288.436a17.119,17.119,0,0,1,5.073-13.478c-.793-.079-1.585-.159-2.378-.159h0c-10.624,0-19.187,7.373-19.187,16.411v26.321h18.474Z", :transform => "translate(-6793.979 -269.012)"}
              %path.h{:d => "M7225.189,267.5h-29.729a4.4,4.4,0,0,0-4.36,4.36v38.451h38.45V271.86A4.348,4.348,0,0,0,7225.189,267.5Z", :transform => "translate(-6754.446 -267.5)"}
              %path.i{:d => "M7207.689,281.136a17.121,17.121,0,0,1,5.074-13.478c-.794-.079-1.585-.159-2.377-.159h0c-10.625,0-19.187,7.373-19.187,16.411v26.321h18.473Z", :transform => "translate(-6754.466 -267.5)"}
              %path.j{:d => "M7232.411,305.3h-49.074a2.505,2.505,0,0,0-2.538,2.537v8.642h54.149v-8.642A2.5,2.5,0,0,0,7232.411,305.3Z", :transform => "translate(-6752.312 -275.332)"}
              %path.h{:d => "M6816.291,267.5h-29.731a4.4,4.4,0,0,0-4.359,4.36v38.451h38.451V271.86A4.4,4.4,0,0,0,6816.291,267.5Z", :transform => "translate(-6669.726 -267.5)"}
              %path.i{:d => "M6798.689,281.136a17.125,17.125,0,0,1,5.073-13.478c-.792-.079-1.585-.159-2.377-.159h0c-10.624,0-19.186,7.373-19.186,16.411v26.321h18.472Z", :transform => "translate(-6669.726 -267.5)"}
              %path.j{:d => "M6823.41,305.3h-49.074a2.5,2.5,0,0,0-2.537,2.537v8.642h54.149v-8.642A2.5,2.5,0,0,0,6823.41,305.3Z", :transform => "translate(-6667.57 -275.332)"}
              %rect.k{:height => "21.009", :transform => "translate(97.252 34.804)", :width => "540.694"}
              %rect.l{:height => "21.009", :transform => "translate(465.115 34.804)", :width => "172.832"}
              %path.m{:d => "M7302.684,325.1H6738.127c-63.979,107.267-70.8,273.439-62.473,455.15h614.187Z", :transform => "translate(-6647.059 -279.434)"}
              %path.n{:d => "M7235.68,396.4l-42.731,38.451L7176.3,794.31h59.381Z", :transform => "translate(-6751.379 -294.207)"}
              %path.k{:d => "M6738.127,325.1c-63.979,107.267-70.8,273.439-62.473,455.15h441.513V325.1Z", :transform => "translate(-6647.059 -279.434)"}
              %path.k{:d => "M6676.9,566.668l427.561,4.36,8.959-245.929H6739.056C6701.4,388.207,6683.56,471.69,6676.9,566.668Z", :transform => "translate(-6647.908 -279.434)"}
              %path.d{:d => "M7452.8,344.9h40.116a9.542,9.542,0,0,1,9.514,9.514v32.505H7452.8Z", :transform => "translate(-6808.67 -283.537)"}
              %path.o{:d => "M7472.2,350.3a53.514,53.514,0,0,0,10.306,12.13c6.184,5.55,12.765,9.2,17.76,10.386A37.044,37.044,0,0,0,7472.2,350.3Z", :transform => "translate(-6812.688 -284.656)"}
              %path.p{:d => "M7446.4,342.245c0-4.36-68.1-4.36-68.1,0V385.77h68.1Z", :transform => "translate(-6793.232 -282.309)"}
              %path.p{:d => "M7403.114,342.961c0-4.281-24.816-4.281-24.816,0v42.891h24.816Z", :transform => "translate(-6793.232 -282.47)"}
              %path.h{:d => "M7380.55,344.9h-66.437a9.542,9.542,0,0,0-9.514,9.514v32.505h77.537V346.486A1.59,1.59,0,0,0,7380.55,344.9Z", :transform => "translate(-6777.963 -283.537)"}
              %path.i{:d => "M7336.946,384.3a42.034,42.034,0,0,1,27.432-39.4h-17.76a41.99,41.99,0,0,0-42.018,42.019h32.346Z", :transform => "translate(-6777.963 -283.537)"}
              %path.m{:d => "M7499.689,396.4H7355.4V784.875L7569.7,795.023l20.851-86.971-45.9-51.453Z", :transform => "translate(-6788.489 -294.207)"}
              %path.k{:d => "M7351.964,396.4H7251.2V795.023h170.85l20.771-86.971-45.9-51.453Z", :transform => "translate(-6766.898 -294.207)"}
              %path.g{:d => "M7418.336,884.129c6.581-27.828-.634-53.277-16.332-57.161-15.855-3.964-34.407,15.777-41.383,43.922a88.619,88.619,0,0,0-2.221,13.24Z", :transform => "translate(-6789.11 -383.313)"}
              %g{:transform => "translate(0 374.777)"}
                %path.q{:d => "M6719.725,740.222h-44.086l-2.823,6.764q-.042,13.64.107,27.482h32.709Z", :transform => "translate(-6647.059 -740.222)"}
                %path.r{:d => "M6684.812,817.664h-44.48l14.29-34.246h44.284Z", :transform => "translate(-6640.332 -749.172)"}
                %path.r{:d => "M6758.5,774.468h-44.284l14.093-34.246h44.087Z", :transform => "translate(-6655.639 -740.222)"}
                %path.q{:d => "M6740.917,817.664h-44.48l14.093-34.246h44.283Z", :transform => "translate(-6651.957 -749.172)"}
                %path.q{:d => "M6814,774.468h-44.284l13.9-34.246H6827.7Z", :transform => "translate(-6667.14 -740.222)"}
                %path.r{:d => "M6796.67,817.664h-44.48l13.9-34.246h44.283Z", :transform => "translate(-6663.509 -749.172)"}
                %path.r{:d => "M6869.508,774.468h-44.283l13.7-34.246h44.086Z", :transform => "translate(-6678.64 -740.222)"}
                %path.s{:d => "M6852.424,817.664h-44.48l13.7-34.246h44.283Z", :transform => "translate(-6675.06 -749.172)"}
                %path.q{:d => "M6925.014,774.468H6880.73l13.505-34.246h44.087Z", :transform => "translate(-6690.139 -740.222)"}
                %path.r{:d => "M6908.176,817.664H6863.7l13.505-34.246h44.284Z", :transform => "translate(-6686.611 -749.172)"}
                %path.r{:d => "M6980.519,774.468h-44.283l13.31-34.246h44.086Z", :transform => "translate(-6701.641 -740.222)"}
                %path.q{:d => "M6963.929,817.664h-44.479l13.309-34.246h44.283Z", :transform => "translate(-6698.163 -749.172)"}
                %path.q{:d => "M7036.027,774.468h-44.284l13.113-34.246h44.087Z", :transform => "translate(-6713.142 -740.222)"}
                %path.r{:d => "M7019.683,817.664H6975.2l13.113-34.246H7032.6Z", :transform => "translate(-6709.715 -749.172)"}
                %path.r{:d => "M7091.532,774.468h-44.283l12.917-34.246h44.087Z", :transform => "translate(-6724.642 -740.222)"}
                %path.q{:d => "M7075.434,817.664h-44.48l12.917-34.246h44.284Z", :transform => "translate(-6721.265 -749.172)"}
                %path.f{:d => "M7147.038,774.468h-44.284l12.722-34.246h44.087Z", :transform => "translate(-6736.141 -740.222)"}
                %path.r{:d => "M7131.188,817.664h-44.48l12.722-34.246h44.283Z", :transform => "translate(-6732.817 -749.172)"}
                %path.r{:d => "M7202.543,774.468H7158.26l12.527-34.246h44.085Z", :transform => "translate(-6747.643 -740.222)"}
                %path.s{:d => "M7186.941,817.664H7142.46l12.526-34.246h44.284Z", :transform => "translate(-6744.368 -749.172)"}
                %path.s{:d => "M7258.049,774.468h-44.284l12.332-34.246h44.085Z", :transform => "translate(-6759.142 -740.222)"}
                %path.r{:d => "M7242.694,817.664h-44.481l12.331-34.246h44.283Z", :transform => "translate(-6755.92 -749.172)"}
                %path.r{:d => "M7313.555,774.468h-44.283l12.134-34.246h44.086Z", :transform => "translate(-6770.644 -740.222)"}
                %path.q{:d => "M7298.447,817.664h-44.48l12.133-34.246h44.284Z", :transform => "translate(-6767.473 -749.172)"}
                %path.q{:d => "M7369.061,774.468h-44.284l11.938-34.246H7380.8Z", :transform => "translate(-6782.143 -740.222)"}
                %path.r{:d => "M7354.2,817.664h-44.48l11.938-34.246h44.284Z", :transform => "translate(-6779.023 -749.172)"}
                %path.r{:d => "M7424.566,774.468h-44.282l11.742-34.246h44.086Z", :transform => "translate(-6793.646 -740.222)"}
                %path.q{:d => "M7409.951,817.664h-44.48l11.742-34.246H7421.5Z", :transform => "translate(-6790.574 -749.172)"}
                %path.r{:d => "M7465.7,817.664h-44.48l11.547-34.246h44.284Z", :transform => "translate(-6802.126 -749.172)"}
              %path.f{:d => "M7412.17,887.276c5.311-21.564-.159-41.464-12.368-44.476-12.131-3.013-26.322,12.051-31.633,33.615s.159,41.464,12.367,44.476C7392.667,923.9,7406.858,908.84,7412.17,887.276Z", :transform => "translate(-6790.714 -386.619)"}
              %path.t{:d => "M7500.622,404.3H7390.5L7433.708,658h110.2Z", :transform => "translate(-6795.763 -295.844)"}
              %path.n{:d => "M7342.119,404.3H7264.9V658h120.507Z", :transform => "translate(-6769.737 -295.844)"}
              %path.u{:d => "M7341.011,409.2H7269.5V656.635h111.627Z", :transform => "translate(-6770.692 -296.859)"}
              %path.n{:d => "M7591.066,876.4H7448.917a4.665,4.665,0,0,0-4.6,3.726l-3.646,16.173a4.768,4.768,0,0,0,4.6,5.787h141.912a4.409,4.409,0,0,0,4.281-3.409l3.805-16.966A4.258,4.258,0,0,0,7591.066,876.4Z", :transform => "translate(-6806.134 -393.66)"}
              %rect.n{:height => "11.575", :transform => "translate(39.298 491.778)", :width => "444.764"}
              %path.g{:d => "M6830.836,886.681c6.58-29.017-.634-55.576-16.333-59.619-15.854-4.123-34.407,16.411-41.384,45.824a96,96,0,0,0-2.22,13.795Z", :transform => "translate(-6667.383 -383.328)"}
              %path.n{:d => "M7245.057,885.7l-22.357,1.665V898.94h22.357Z", :transform => "translate(-6760.994 -395.587)"}
              %path.n{:d => "M7510.99,829.178c2.933-12.289,1.427-22.278-3.33-22.278s-11.021,9.989-13.952,22.278-1.429,22.278,3.328,22.278S7508.057,841.546,7510.99,829.178Z", :transform => "translate(-6816.834 -379.26)"}
              %path.n{:d => "M7627.892,830.978c2.933-12.289,1.427-22.278-3.33-22.278s-11.02,9.989-13.954,22.278-1.426,22.278,3.33,22.278C7618.774,853.335,7624.958,843.346,7627.892,830.978Z", :transform => "translate(-6841.056 -379.633)"}
              %path.n{:d => "M7591.45,804.8h-55.655l-11.5,48.282h55.655Z", :transform => "translate(-6823.483 -378.825)"}
              %path.f{:d => "M6825.57,887.276c5.312-21.564-.158-41.464-12.368-44.476-12.13-3.013-26.32,12.051-31.633,33.615s.158,41.464,12.367,44.476C6806.067,923.9,6820.259,908.84,6825.57,887.276Z", :transform => "translate(-6669.174 -386.619)"}
              %path.v{:d => "M7401.844,889.818c2.617-10.465-.079-20.137-6.025-21.565-5.868-1.427-12.765,5.867-15.38,16.332s.078,20.137,6.024,21.564C7392.331,907.577,7399.228,900.283,7401.844,889.818Z", :transform => "translate(-6793.469 -391.935)"}
              %path.v{:d => "M6816.744,889.818c2.616-10.465-.08-20.137-6.025-21.565-5.867-1.427-12.764,5.867-15.381,16.332s.08,20.137,6.025,21.564C6807.231,907.577,6814.127,900.283,6816.744,889.818Z", :transform => "translate(-6672.241 -391.935)"}
              %path.n{:d => "M6882.3,574.968h222.3V388.5h-196.22C6893.478,444.076,6885.629,507.025,6882.3,574.968Z", :transform => "translate(-6690.465 -292.57)"}
              %rect.n{:height => "260.913", :transform => "translate(569.606 106.553)", :width => "6.739"}
              %path.w{:d => "M7488.3,409.6V654.973h70.324L7516.762,409.6Z", :transform => "translate(-6816.024 -296.942)"}
              %rect.t{:height => "251.24", :transform => "translate(696.218 109.962)", :width => "6.739"}
              %path.x{:d => "M6889.3,571.513h211.2V394.4H6914.035C6899.923,447.2,6892.391,506.979,6889.3,571.513Z", :transform => "translate(-6691.916 -293.793)"}
              %path.y{:d => "M6898.2,487.793h204.147V394.4H6915.879C6908.109,423.5,6902.323,454.812,6898.2,487.793Z", :transform => "translate(-6693.76 -293.793)"}
              %path.z{:d => "M7391.337,348H7380c.238,1.189.556,2.458.872,3.647,3.252,11.1,9.752,19.186,15.143,18.948v-18A4.619,4.619,0,0,0,7391.337,348Z", :transform => "translate(-6793.585 -284.179)"}
              %path.aa{:d => "M7415.8,513.8h103.064l-18-105.6H7397.8Z", :transform => "translate(-6797.273 -296.652)"}
              %path.f{:d => "M6828.754,447.3l-10.307-21.564-28.3,16.094,4.677-23.229h-26.478l-4.2,21.247-19.028-16.49-20.057,20.613,24.339,21.089L6715.7,484.244l10.227,21.564,28.3-16.094-4.6,23.229h26.4l4.281-21.247,19.027,16.411,20.058-20.534-24.418-21.089Z", :transform => "translate(-6655.947 -298.807)"}
              %rect.ab{:height => "14.984", :transform => "translate(45.799 360.727)", :width => "27.035"}
              %rect.ac{:height => "8.642", :transform => "translate(49.684 363.898)", :width => "15.618"}
              %path.f{:d => "M7293.5,739.6h-26v13.953h22.833a3.18,3.18,0,0,0,3.171-3.171Z", :transform => "translate(-6770.276 -365.316)"}
              %path.ad{:d => "M7284.056,742.5H7261.7v8.087h20.534a1.794,1.794,0,0,0,1.823-1.823V742.5Z", :transform => "translate(-6769.074 -365.917)"}
              %path.j{:d => "M6924.107,648.3H6889.7v18.472h30.206a4.229,4.229,0,0,0,4.2-4.2Z", :transform => "translate(-6691.999 -346.399)"}
              %path.ad{:d => "M6912.728,652.1H6887.2v10.624h23.07a2.47,2.47,0,0,0,2.458-2.458Z", :transform => "translate(-6691.48 -347.186)"}
              %path.f{:d => "M7456.468,896.3l3.647-16.173a4.652,4.652,0,0,1,3.805-3.568,4.672,4.672,0,0,0-1.11-.159h-13.794a4.663,4.663,0,0,0-4.6,3.726l-3.647,16.173a4.769,4.769,0,0,0,4.6,5.787h13.636a3.982,3.982,0,0,0,.951-.159A4.692,4.692,0,0,1,7456.468,896.3Z", :transform => "translate(-6806.155 -393.66)"}
              %path.l{:d => "M7508.262,830.566c2.219-9.355,1.109-16.966-2.537-16.966s-8.4,7.611-10.624,16.966-1.11,16.966,2.538,16.966S7506.043,839.921,7508.262,830.566Z", :transform => "translate(-6817.198 -380.648)"}
              %ellipse.l{:cx => "17.758", :cy => "6.421", :rx => "17.758", :ry => "6.421", :transform => "translate(766.304 467.103) rotate(-74.543)"}
              %path.ae{:d => "M7586.643,808.5h-49L7527.5,850.915h49Z", :transform => "translate(-6824.147 -379.592)"}
              %rect.n{:height => "2.616", :transform => "translate(711.122 432.238)", :width => "54.149"}
              %rect.n{:height => "2.616", :transform => "translate(709.14 440.642)", :width => "54.149"}
              %rect.n{:height => "2.616", :transform => "translate(707.159 449.046)", :width => "54.149"}
              %rect.n{:height => "2.616", :transform => "translate(705.176 457.449)", :width => "54.149"}
              %rect.n{:height => "2.616", :transform => "translate(703.195 465.853)", :width => "54.149"}
              %ellipse.af{:cx => "83.72", :cy => "1.427", :rx => "83.72", :ry => "1.427", :transform => "translate(224.498 253.936)"}
              %ellipse.af{:cx => "83.72", :cy => "1.427", :rx => "83.72", :ry => "1.427", :transform => "translate(224.498 239.824)"}
              %ellipse.af{:cx => "83.72", :cy => "1.427", :rx => "83.72", :ry => "1.427", :transform => "translate(224.498 225.712)"}
              %path.af{:d => "M7090.841,535.827c0-.793-37.5-1.427-83.721-1.427s-83.72.634-83.72,1.427,37.5,1.427,83.72,1.427C7053.419,537.254,7090.841,536.62,7090.841,535.827Z", :transform => "translate(-6698.981 -322.8)"}
              %g{:transform => "translate(495.003 360.965)"}
                %path.n{:d => "M7324.635,851.552H7264.7V723.038h2.854V848.7h55.893c1.348-8.483,10.862-56.924,49.55-57.954l9.355-67.944,2.775.4-9.752,70.4h-1.268c-40.75,0-48.124,56.131-48.124,56.686l-.159,1.268Z", :transform => "translate(-7264.7 -722.8)"}
              %path.q{:d => "M7447.991,742.289l-10.681,31.674h38.938Z", :transform => "translate(-6805.46 -365.873)"}
              %path.q{:d => "M7477.376,816.382h5.724l6.583-27.559-2.313-2.592Z", :transform => "translate(-6813.761 -374.978)"}
              %path.f{:d => "M6690.319,783.1h-42.653a3.552,3.552,0,0,0-3.567,3.568V890.6a3.046,3.046,0,0,0,3.092,3.092h43.128a2.336,2.336,0,0,0,2.379-2.378V785.478A2.385,2.385,0,0,0,6690.319,783.1Z", :transform => "translate(-6641.112 -374.329)"}
              %path.n{:d => "M6700.093,783.1h-13.715a2.385,2.385,0,0,0-2.379,2.378v106a2.132,2.132,0,0,0,2.141,2.141h14.032a1.59,1.59,0,0,0,1.586-1.586V784.765A1.673,1.673,0,0,0,6700.093,783.1Z", :transform => "translate(-6649.378 -374.329)"}
              %path.ag{:d => "M6656.58,793h-5.629a.964.964,0,0,0-.951.951v63.028a.88.88,0,0,0,.873.872h5.708a.625.625,0,0,0,.634-.634V793.634A.625.625,0,0,0,6656.58,793Z", :transform => "translate(-6642.334 -376.38)"}
              %path.n{:d => "M6898.2,374.4c-31,104.413-35.2,236.256-29.73,377.931H7112.1V374.4ZM7107.42,747.178H6872.909c-5.233-137.79-1.19-265.987,28.619-367.624h205.813V747.178Z", :transform => "translate(-6687.178 -289.649)"}
            %g{:transform => "translate(63.947 92.825)"}
              %path.ah{:d => "M6643.344,696.229s19.732,201.731,24.667,223.265v13.6h37.839s-2.285-4.533-6.562-4.533-15.084-4.912-18.044-8.312,1.863-282.2,1.863-282.2h-47Z", :transform => "translate(-6592.052 -351.477)"}
              %path.ai{:d => "M6671.947,655.393l-12.488,20.937s-46.712,186.774-44.41,248.049c0,0,4.429,7.262,20.063,11.561.842.231,1.643,3.083,1.643,3.083h-40.783l2.3-12.332s1.316-208.482,1.316-232.76,6.58-55.878,6.58-55.878h68.408Z", :transform => "translate(-6588.753 -351.477)"}
              %path.aj{:d => "M6606.874,433.578s-13.842-2.914-17.485,15.663.018,92.958,16.957,109.9,20.926,5.57,20.926,5.57l-4.864-44.794,11.056-14.214Z", :transform => "translate(-6588.106 -334.658)"}
              %path.aj{:d => "M6693.555,440.456s6.169,3.946,10.814,22.8,10.109,82.092,7.375,84.823-16.937,0-16.937,0l-6.692-89.605Z", :transform => "translate(-6596.328 -335.237)"}
              %path.ak{:d => "M6607.814,461.21s12.02,54.637,9.287,68.843-20.215,96.163-20.215,96.163h93.975s3.279-90.153,0-110.915-1.638-65.565-4.371-74.852-78.951-12.84-84.686-7.1Z", :transform => "translate(-6588.83 -334.425)"}
              %path.al{:d => "M6670.875,528.464l11.478.355s2.732-3.825,4.37-4.462,6.375.182,8.288,3.506,2.641,8.489,3.187,10.492-4.643,1.026-7.831,1.026-21.949,2.195-21.949,2.195Z", :transform => "translate(-6594.707 -342.116)"}
              %path.al{:d => "M6624.99,532.376s-.289-.249-.8-.69c-1.939-1.69-7.055-6.2-11.225-10.373-5.259-5.259-12.566-11.337-12.566-8.606s13.779,13.032,12.566,14.244-15.708-7.817-14.751-4.747,15.663,8.671,13.364,9.627-10.5-3.825-10.5-1.367,16.117,7.923,20.9,7.923S6624.99,532.376,6624.99,532.376Z", :transform => "translate(-6588.935 -341.119)"}
              %path.ai{:d => "M6654.035,553.074c1.639,0,51.086,8.742,54.911,3,0,0,2.651-11.2.505-15.572s-39.572-2.049-39.572-2.049Z", :transform => "translate(-6593.527 -343.241)"}
              %path.ai{:d => "M6603.476,545.321s.1-.344.311-.929c1.076-2.923,5.122-11.85,14.986-13.823,11.838-2.367,49.54-5.645,49.54-5.645v17.12s-48.993,26.782-57.006,26.782S6603.476,545.321,6603.476,545.321Z", :transform => "translate(-6589.37 -342.179)"}
              %g{:transform => "translate(33.255)"}
                %path.al{:d => "M6672.187,344.016s11.795,15.5,13.564,26.017c1.823,10.819,4.026,28.118,4.026,28.118h-4.8s-4,9.6-4,16-10.133,2.4-16,2.4c-5.029,0-14.809-4.577-20.843-17.225-1.007-2.11-2.429-3.615-3.152-6.247C6635.916,374.676,6626.589,341.874,6672.187,344.016Z", :transform => "translate(-6625.348 -327.303)"}
                %path.al{:d => "M6633.582,429.893a14.843,14.843,0,0,0,10.295,12.41c5.829,1.835,11.364,3.238,14.412,3.971a1.622,1.622,0,0,0,2.005-1.637c-.155-3.93.67-12.227,1.469-19.4.471-4.229.934-8.069,1.182-10.4-1.235-3.1-10.61-26.661-10.009-25.155v-.019l-1.929-4.826S6633.282,427.383,6633.582,429.893Z", :transform => "translate(-6625.099 -330.666)"}
                %path.am{:d => "M6687.182,331.333c.544.916,9.8,19.747-6.169,26.937s-19.936-3.168-24.2,3.231,3.7,16.757.23,22.624l-5.318,1.019s-1.081-3.154-3.216-3.154-2.737,16.153-6.169,16.153-10.1-13.757-13.3-20.158-9.86-28,2.408-33.6,17.6-1.33,17.6-6.663,5.333.268,5.333.268,2.935-4,1.069-8.532,13.067-6.132,16.533,2.935S6681.317,321.465,6687.182,331.333Z", :transform => "translate(-6624.341 -325.815)"}
                %path.al{:d => "M6654.8,380.112s.258,10.526-2.279,10.526-8.1-5.962-7.153-12.3S6653.648,372.756,6654.8,380.112Z", :transform => "translate(-6626.06 -329.779)"}
                %path.an{:d => "M6653.3,379.214s1.268,4.185-.636,6.088-5.569-2.665-3.544-6.09S6652.9,376.8,6653.3,379.214Z", :transform => "translate(-6626.328 -330.023)"}
                %path.am{:d => "M6683.025,376.233l.408,2.542s-4.461-.532-6.9,1.911-2.786,2.722-2.786,2.722S6675.043,377.654,6683.025,376.233Z", :transform => "translate(-6628.399 -329.959)"}
                %path.am{:d => "M6678.625,384.57a1.992,1.992,0,1,0,1.963-2.33A2.17,2.17,0,0,0,6678.625,384.57Z", :transform => "translate(-6628.801 -330.453)"}
                %path.am{:d => "M6699.281,352.747c.118.871-.786,2.4-1.306,3.118-2.8,3.638-8.246,4.153-11.89,4.618.486.028,5.345.969,9.426-.195,4.408-1.158,7.034-4.059,7.792-7Z", :transform => "translate(-6629.413 -328.029)"}
                %path.an{:d => "M6652.494,418.11c1.646,1.647,7.247,5.321,10.71,7.535.626-5.754,1.233-10.391,1.233-10.391s-2.946,2.54-9.969-25.345a1.1,1.1,0,0,0-.039.171v.019C6654.031,392.484,6650.185,415.82,6652.494,418.11Z", :transform => "translate(-6626.593 -331.083)"}
                %path.am{:d => "M6682.923,413.519a43.254,43.254,0,0,1,.846,6.5c0,2.367-5.919,4.987-11.246,3.464s-12.725-5.037-14.542-6.853-3.269-26.357-3.269-26.357l4.821-.922s2.382,15.995,4.367,17.982S6682.923,413.519,6682.923,413.519Z", :transform => "translate(-6626.836 -331.037)"}
                %path.an{:d => "M6680.25,390.764c.38,1.736-1.606,3.646-4.439,4.268s-5.437-.283-5.819-2.018,1.608-3.647,4.44-4.268S6679.869,389.027,6680.25,390.764Z", :transform => "translate(-6628.088 -330.971)"}
                %path.am{:d => "M6674.912,403.515s3.812,3.9,5.779,4.288,2.951.262,2.152,1.859-4.549.742-4.549-.766S6674.912,403.515,6674.912,403.515Z", :transform => "translate(-6628.497 -332.201)"}
            %g{:transform => "translate(201.672 107.629)"}
              %rect.ao{:height => "59.988", :transform => "translate(0 0)", :width => "63.091"}
              %rect.m{:height => "37.234", :transform => "translate(7.166 7.166)", :width => "48.759"}
              %rect.ap{:height => "3.103", :transform => "translate(26.3 36.348)", :width => "10.491"}
              %rect.ap{:height => "1.33", :transform => "translate(13.593 12.19)", :width => "35.83"}
              %rect.ap{:height => "1.33", :transform => "translate(13.593 16.401)", :width => "35.83"}
              %rect.ap{:height => "1.33", :transform => "translate(13.593 20.612)", :width => "35.83"}
              %rect.ap{:height => "1.33", :transform => "translate(13.593 24.823)", :width => "35.83"}
              %rect.ap{:height => "1.33", :transform => "translate(13.593 29.034)", :width => "35.83"}
              %rect.aq{:height => "1.404", :transform => "translate(7.092 48.168)", :width => "26.522"}
              %rect.aq{:height => "1.404", :transform => "translate(7.092 51.64)", :width => "36.939"}
              %ellipse.ap{:cx => "2.807", :cy => "2.807", :rx => "2.807", :ry => "2.807", :transform => "translate(28.738 0.739)"}
            %g{:transform => "translate(185.893 173.946)"}
              %rect.ar{:height => "55.607", :width => "58.449"}
              %rect.m{:height => "34.518", :transform => "translate(6.632 6.632)", :width => "45.145"}
              %rect.as{:height => "15.817", :transform => "translate(16.559 12.316)", :width => "15.817"}
              %path.ap{:d => "M6808.745,256.415v19.236h19.236V256.415Zm18.411,18.412H6809.61V257.28h17.546Z", :transform => "translate(-6786.131 -240.145)"}
              %rect.aq{:height => "1.277", :transform => "translate(6.591 44.609)", :width => "24.549"}
              %ellipse.ap{:cx => "2.595", :cy => "2.595", :rx => "2.595", :ry => "2.595", :transform => "translate(26.609 0.618)"}
            %g{:transform => "translate(264.344 108.032)"}
              %path.at{:d => "M6808.881,440.853l11.834-2.463a3.15,3.15,0,0,1,3.725,2.4l4.864,22.525a3.085,3.085,0,0,1-2.4,3.664h0l-11.771,2.463a3.147,3.147,0,0,1-3.724-2.4l-4.866-22.525a3,3,0,0,1,2.342-3.664Z", :transform => "translate(-6806.449 -361.796)"}
              %path.au{:d => "M6812.73,484.221s-4.571,36.029-1.912,36.766,10.574-1.446,12.092-11.692-3.989-19.971-3.813-26.2,4.45-6.795,5.149-9.325-2.921-9.556-3.988-11.442-7.957,1.344-8.994,5.093S6812.73,484.221,6812.73,484.221Z", :transform => "translate(-6806.665 -363.218)"}
              %path.av{:d => "M6871.75,478.35c-5.248,2.243-20,28.466-25.511,47.277-3.184,10.885-9.192,22.121-12.724,25.057h0c-2.38,1.336-5.084,1.631-5.966-2.848a185.773,185.773,0,0,1-3.714-46.28c-4.236,1.965-11.092,1.324-15.124-.043-.865,22.473-.479,77.344,12.259,78.9,4.838.59,15-4.574,22.622-13.643a198.173,198.173,0,0,0,17.757-25.816l17.283-54.753S6876.995,476.108,6871.75,478.35Z", :transform => "translate(-6806.57 -364.203)"}
              %g{:transform => "translate(118.317)"}
                %path.aw{:d => "M6951.153,423.874a.676.676,0,0,1-.106-.008.623.623,0,0,1-.508-.719c7.618-44.542-17.644-64.974-17.9-65.175a.623.623,0,1,1,.77-.98c.268.21,6.644,5.3,12.146,16.058,5.065,9.9,10.253,26.674,6.21,50.307A.621.621,0,0,1,6951.153,423.874Z", :transform => "translate(-6932.402 -356.858)"}
              %g{:transform => "translate(161.251 164.905)"}
                %path.aw{:d => "M7024.35,533.049a.391.391,0,0,1-.008.078c-3.422,20.88-15.585,34.517-25.184,42.279a77.86,77.86,0,0,1-20.221,11.966.623.623,0,0,1-.419-1.173,76.735,76.735,0,0,0,19.892-11.788c9.417-7.625,21.347-21.012,24.7-41.486a.623.623,0,0,1,1.237.124Z", :transform => "translate(-6978.105 -532.404)"}
              %path.av{:d => "M6889.575,793.118c-4.846-8.588,11.79-120.8,11.79-120.8L6846.7,636.152V665.6s25.247,210.059,23.277,239.9h17.358C6888.808,890.78,6894.022,801,6889.575,793.118Z", :transform => "translate(-6808.89 -373.788)"}
              %path.av{:d => "M6871.647,909.394c2.2,11.477,2.021,18.495,1.764,19.013-5.218,10.438-22.742,19.759-22.742,19.759a56.676,56.676,0,0,0,14.168,1.491c8.946,0,24.463-3.091,24.463-3.091l-1.723-19.277s.074-.73-2.095-11.969Z", :transform => "translate(-6809.129 -390.351)"}
              %path.ax{:d => "M6915.523,910.092c1.825-17.616,11.941-98.534,9.855-106.879-2.236-8.948,8.718-134.771,8.718-134.771l-9.275-28.8-57.88-5.872,2.688,20.376a65.941,65.941,0,0,0,9.562,26.5L6889.1,696.4l13.159,213.274C6905.563,909.537,6912.222,909.93,6915.523,910.092Z", :transform => "translate(-6810.116 -373.644)"}
              %path.ax{:d => "M6913.765,927.53c-3.3-.163-6.6-.2-9.9-.055l.469,7.615s-15.378,30.2-9.787,32.993,15.1,2.238,17.337,0,3.635-11.184,3.635-13.7-1.959-15.659-1.959-24.046C6913.557,929.771,6913.634,928.8,6913.765,927.53Z", :transform => "translate(-6811.714 -391.442)"}
              %path.ay{:d => "M6902.408,468.113s-22.929,3.355-29.919,10.345-20.97,43.338-18.175,62.353-11.184,81.645-11.184,91.711c0,0,40.264,17.9,86.119,3.355,0,0-8.946-59.276-8.946-74.375s19.012-80.527,8.946-90.593S6902.408,468.113,6902.408,468.113Z", :transform => "translate(-6808.673 -363.448)"}
              %g{:transform => "translate(45.684 97.046)"}
                %path.az{:d => "M2642.716,1004.7c-5.275-12.239-25.608-13.23-39.276,12.973a15.083,15.083,0,0,0-7.635,2.032c-4.434,2.769-4.2,7.652-4.008,11.577.023.17.282,14.751,4.909,25.234-5.871,5.8-9.713,5.292-14.286,5a1.568,1.568,0,0,0-.376,3.1c5.622.919,10.852-.371,16.15-5.254,8.628,14.11,22.516,6.69,18.974,3.666a1.549,1.549,0,0,0-2.181.174c-2.432,2.858-10.181,1.7-14.554-6.144,5.968-6.8,17.3-28.8,13.943-35.165-1.433-2.718-4.481-3.694-7.519-4.058,12.507-22.765,28.976-21.3,33.019-11.917,4.531,10.513-4.574,49.741-4.574,50.618a1.548,1.548,0,0,0,1.548,1.547c1.519,0,1.519-1.363,1.936-3.35C2644.312,1028.307,2645.634,1011.473,2642.716,1004.7Zm-31.073,18.645c1.941,3.676-5.836,22.132-12.638,30.611a72.837,72.837,0,0,1-4.066-21.735c-.189-3.93-.663-7.913,2.506-9.892C2600.887,1020.181,2609.9,1020.047,2611.643,1023.348Z", :transform => "translate(-2580.78 -996.417)"}
                %circle.az{:cx => "7.323", :cy => "7.323", :r => "7.323", :transform => "translate(48.21 55.346) rotate(-0.716)"}
                %path.ba{:d => "M2640.946,1069.548a5.384,5.384,0,1,1,5.384-5.384A5.39,5.39,0,0,1,2640.946,1069.548Z", :transform => "translate(-2585.322 -1001.587)"}
              %g{:transform => "translate(57.507 18.722)"}
                %path.az{:d => "M6921.818,443.016s14.367,7.01,19.42,15.9a112,112,0,0,1,7.982,17.672l-5.054,2.261a27.587,27.587,0,0,0-2.395-7.715l3.164,16.444-6.622,2.045s-4.049-11.344-5.456-18.091l3.776,18.091-6.7.866s-4.225-6.389-4.225-12.508l.632,12.508-8.115-1.4s-5.2-21.409-4.6-33.255c.19-3.772.928-8.026,1.846-10.09A4.92,4.92,0,0,1,6921.818,443.016Z", :transform => "translate(-6870.449 -380.783)"}
                %path.bb{:d => "M6924.279,443.523l-.166.22a8.606,8.606,0,0,1-7.906,3.395l-1.727-.2-2.2-6.314,9.8-3.41Z", :transform => "translate(-6870.371 -380.451)"}
                %path.az{:d => "M6922.906,386.011c-2.929-2.928-14.819-3.625-14.819-3.625h-.886c-3.724-1.419-23.412,27.846-20.929,43.453s4.256,14.012,15.431,15.964,19.51-6.386,22.335-15.608S6925.834,388.939,6922.906,386.011Z", :transform => "translate(-6868.781 -377.124)"}
                %path.au{:d => "M6891.147,439.151c-.8.8,2.43,23.838-.763,30.224,0,0,.58,11.661,6.288,12.343,4.962.594,13.97-5.291,14.959-9.844,1.331-6.117,0-36.713,0-36.713Z", :transform => "translate(-6869.045 -380.327)"}
                %path.bc{:d => "M6891.519,448.69c7.577,6.853,14.716,3.735,20.464-4.858-.131-4.332-.3-8.422-.311-8.671l-20.484,3.989C6890.861,439.479,6891.211,443.555,6891.519,448.69Z", :transform => "translate(-6869.086 -380.327)"}
                %path.au{:d => "M6892.932,384.265s-9.6,1.827-10.74,10.055-2.742,15.081-1.144,24.68,7.311,22.394,16.682,24.451,19.2-13.483,19.2-21.937,3.428-22.623-2.971-31.308S6892.932,384.265,6892.932,384.265Z", :transform => "translate(-6868.438 -377.217)"}
                %path.bc{:d => "M6892.932,384.265s-9.6,1.827-10.74,10.055c-1.036,7.456-2.446,13.785-1.511,22.052a26.437,26.437,0,0,1,6.747-3.121c10.474-3.45,19.842-23.7,20.237-24.56l.165-.36.025-.4a7.563,7.563,0,0,0-.29-2.488C6900.834,382.782,6892.932,384.265,6892.932,384.265Z", :transform => "translate(-6868.438 -377.217)"}
                %path.az{:d => "M6914.56,416.286s3.656-4.227,5.485-6.056,6.4-19.88,1.827-26.05-13.318-6.513-20.312-7.313-18.1,4.527-18.714,14.946c0,0,18-6.834,23.031-4.434s7.083,5.255,8.111,10.854S6914.56,416.286,6914.56,416.286Z", :transform => "translate(-6868.586 -376.788)"}
                %path.au{:d => "M6916.591,418.29s2.446-10.609,6.517-8.048-.3,14.31-4.093,14.31S6916.591,418.29,6916.591,418.29Z", :transform => "translate(-6870.617 -378.792)"}
                %path.bc{:d => "M6920.6,412.63s-6.012,9.645-1.887,8.579S6924.469,410.836,6920.6,412.63Z", :transform => "translate(-6870.674 -378.947)"}
                %path.bb{:d => "M6924.551,443.763a65.337,65.337,0,0,1,15.461,7.258,77.682,77.682,0,0,1,6.867,5.173,43.674,43.674,0,0,1,6.261,6.139l-1.775,1.172a43.4,43.4,0,0,0-5.723-5.92,75.957,75.957,0,0,0-6.544-5.255,58.047,58.047,0,0,0-7.2-4.263,64.428,64.428,0,0,0-7.68-3.293Z", :transform => "translate(-6871.095 -380.848)"}
                %path.bb{:d => "M6922.073,443.763a65.017,65.017,0,0,1,9.556,5.413,71.1,71.1,0,0,1,8.617,6.877,59.389,59.389,0,0,1,7.417,8.223,57.369,57.369,0,0,1,5.8,9.518l-1.946.862a55.369,55.369,0,0,0-5.153-9.453,58.135,58.135,0,0,0-6.863-8.39,70.009,70.009,0,0,0-8.182-7.205A64.833,64.833,0,0,0,6922.073,443.763Z", :transform => "translate(-6870.963 -380.848)"}
                %g{:transform => "translate(23.888 37.877)"}
                  %path.bd{:d => "M6893.611,425.008a75.028,75.028,0,0,0,.4-7.9,80.529,80.529,0,0,0-.919,8.226c1.4.382,3.072,1.163,5.176.369A8.747,8.747,0,0,1,6893.611,425.008Z", :transform => "translate(-6893.097 -417.109)"}
                %path.bd{:d => "M6899.176,416.616a5.223,5.223,0,0,1,3.532-3.43c3.136-.82,5.049,3.695,7.2,3.651-1.542.79-4.012-1.849-5.709-2.52a3.1,3.1,0,0,0-2.641.315A8.129,8.129,0,0,0,6899.176,416.616Z", :transform => "translate(-6869.576 -378.989)"}
                %path.bd{:d => "M6905.021,415.287a1.537,1.537,0,1,1-1.524-1.725A1.634,1.634,0,0,1,6905.021,415.287Z", :transform => "translate(-6869.745 -379.017)"}
                %path.bd{:d => "M6891.066,417.674a5.228,5.228,0,0,0-3.684-3.267c-3.168-.678-4.877,3.918-7.025,3.972,1.576.72,3.926-2.027,5.591-2.775a3.111,3.111,0,0,1,2.652.2A8.154,8.154,0,0,1,6891.066,417.674Z", :transform => "translate(-6868.436 -379.064)"}
                %path.bd{:d => "M6885.655,416.6a1.537,1.537,0,1,0,1.447-1.792A1.636,1.636,0,0,0,6885.655,416.6Z", :transform => "translate(-6868.756 -379.093)"}
                %path.bd{:d => "M6897.991,408.845c-.34-.222,2.4-2.971,5.676-3.282s6.83,3.282,6.83,3.282-4.834-2.882-6.875-1.951S6899.883,410.074,6897.991,408.845Z", :transform => "translate(-6869.503 -378.531)"}
                %g{:transform => "translate(23.732 51.789)"}
                  %path.bd{:d => "M6893.156,435.311a.266.266,0,0,1,.077-.526,14.31,14.31,0,0,0,9.928-2.806.266.266,0,0,1,.331.417A14.584,14.584,0,0,1,6893.156,435.311Z", :transform => "translate(-6892.93 -431.919)"}
                %g{:transform => "translate(27.721 53.94)"}
                  %path.bd{:d => "M6897.442,437.191a.267.267,0,0,1-.267-.246c-.051-.661,3.926-.186,5.4-2.606a.266.266,0,0,1,.455.277c-1.364,2.234-5.4,2.561-5.572,2.574Z", :transform => "translate(-6897.175 -434.209)"}
                %g{:transform => "translate(26.272 34.011)"}
                  %path{:d => "M6910.054,421.224h-11.682a2.742,2.742,0,0,1-2.738-2.74v-2.749a2.742,2.742,0,0,1,2.738-2.741h11.682a2.745,2.745,0,0,1,2.741,2.741v2.749A2.745,2.745,0,0,1,6910.054,421.224Zm-11.682-7.166a1.68,1.68,0,0,0-1.676,1.677v2.749a1.678,1.678,0,0,0,1.676,1.676h11.682a1.679,1.679,0,0,0,1.677-1.676v-2.749a1.681,1.681,0,0,0-1.677-1.677Z", :transform => "translate(-6895.634 -412.994)"}
                %g{:transform => "translate(8.623 34.011)"}
                  %path{:d => "M6889.626,421.224h-10.484a2.3,2.3,0,0,1-2.3-2.3v-3.636a2.3,2.3,0,0,1,2.3-2.3h10.484a2.3,2.3,0,0,1,2.3,2.3v3.636A2.3,2.3,0,0,1,6889.626,421.224Zm-10.484-7.166a1.233,1.233,0,0,0-1.231,1.232v3.636a1.232,1.232,0,0,0,1.231,1.233h10.484a1.233,1.233,0,0,0,1.232-1.233v-3.636a1.235,1.235,0,0,0-1.232-1.232Z", :transform => "translate(-6876.846 -412.994)"}
                %path.be{:d => "M6891.273,378.858c-8.8,1.942-11.453,15.48-18.652,22.679s-5.37,17.6-1.941,24.451,8.922,2.4,8.922,2.4-2.868,1.6-4.7-4.114,1.371-10.17,11.083-13.368,18.968-23.423,18.968-23.423C6905.2,383.53,6900.073,376.916,6891.273,378.858Z", :transform => "translate(-6867.666 -376.892)"}
                %path.bf{:d => "M6880,428.967c-3.333,1.944-8.04-6.224-4.61-11.558,2.5-4.127,7.97-5.862,12.342-7.672,6.928-3.977,13.586-14.963,17.625-21.674-2.929,8.008-9.131,19.117-16.611,23.544l-1.8.78c-1.849.746-7.477,2.261-10.194,5.924-2.191,2.876-1.145,7.341.309,9.455A2.586,2.586,0,0,0,6880,428.967Z", :transform => "translate(-6868.062 -377.472)"}
                %rect{:height => "1.158", :transform => "translate(23.352 36.837)", :width => "3.125"}
              %path.bc{:d => "M6932.041,630.791c.616-.617,6.008-8.559,7.161-7.406s-4.774,8.476-4.774,8.476,6.872-6.954,8.23-5.6-9.183,10.749-10.294,10.749S6932.041,630.791,6932.041,630.791Z", :transform => "translate(-6814.045 -373.007)"}
              %path.au{:d => "M6922.044,622.152s-2.907,4.436-.766,6.577.994,4.36,2.447,5.813,7.952,1.682,7.952,1.682a44.654,44.654,0,0,1,3.672-13.46,49.948,49.948,0,0,1,5.192-7.382,88.394,88.394,0,0,0-8.974-5.136C6926.194,617.227,6922.142,621.978,6922.044,622.152Z", :transform => "translate(-6813.362 -372.218)"}
              %path.ax{:d => "M6930.067,477.366s-3.771,29.977,0,38.236c3.673,8.037,25.135,17.311,28.816,33.6,2.752,12.164-15.163,37.837-26.836,52.994,2.919,2.921,7.65,7.752,10.527,9.646,11.879-15.119,37.778-50.72,38.527-59.07C6982.018,542.511,6946.02,476.3,6930.067,477.366Z", :transform => "translate(-6813.84 -364.162)"}
%section.community
  .container
    -# .community-subtitle.subtitle Product
    %h2.community-title Social Education for the Health Community
    .community__blocks
      .community__blocks-block.wow.fadeIn.delay-1s
        .community__block-img
          %img{:alt => "learn", :src =>  image_url('ediofy/ic-learn.svg')}/
        .community__block-title Learn. Share. Teach.
        .community__block-descr
          Ediofy is a social education platform for the global health community.
          Using AI to deliver relevant content to suit your specialty and interests, you can learn from world leaders,
          department heads and colleagues or, share your own experiences and resources to teach others and accrue CPD time.
      .community__blocks-block.wow.fadeIn.delay-1s
        .community__block-img
          %img{:alt => "Privacy", :src =>    image_url('ediofy/ic-privacy.svg')}/
      
        .community__block-title Privacy
        .community__block-descr
          As Doctors ourselves, we know that privacy is everything. Ediofy gives you
          the ability to choose your profile privacy level. You’re free to share information with the
          worldwide hub, or create secure groups to share with your colleagues, your department or even just your study group. Hermit or hero - it’s up to
          you.
      .community__blocks-block.wow.fadeIn.delay-1s
        .community__block-img
          %img{:alt => "Earn", :src =>  image_url('ediofy/ic-CPD.svg')}/
        .community__block-title Log CPD
        .community__block-descr
          Whether you’re listening to audio files, answering multiple choice
          questions, watching videos, researching papers or creating and sharing your own educational masterpieces,
          you’ll accrue time towards CPD as you go. Compiling your report-complete with reflective commentary - is as easy as
          clicking a button.
      .community__blocks-block.wow.fadeIn.delay-1s
        .community__block-img
          %img{:alt => "discuss", :src =>  image_url('ediofy/ic-discuss.svg')}/


        .community__block-title Discuss &amp; ask questions
        .community__block-descr
          Need to ask a quick question or want to discuss something? Cast your net
          out to the Ediofy community for some instant help or feedback. Not feeling brave? We’re all in this together
          so we’ve created an incognito 'Ghost' option so you're free to get the answer you need anonymously.
.video
  .video-bg__wrapper
    %svg.video-bg.rellax{"data-rellax-percentage" => "0.5", "data-rellax-speed" => "2", :height => "1221.792", :viewbox => "0 0 1761.702 1221.792", :width => "1761.702", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      %defs
        :css
          .a{fill:url(#a);}
        %lineargradient#a{:gradientunits => "objectBoundingBox", :x1 => "0.521", :x2 => "0.467", :y1 => "0.133", :y2 => "1.19"}
          %stop{:offset => "0", "stop-color" => "#a33bbd"}
          %stop{:offset => "1", "stop-color" => "#2e55e3"}
      %path.a{:d => "M2906.315,1325.763c142.824,6.408,365.744-26.473,468.772,41.482,103.366,67.955,87.346,236.915,32.882,378.558s-146.7,256.138-260.186,308.749c-113.483,52.948-248.044,44.01-350.4,15.344-102.354-28.328-172.838-76.555-309.929-48.226S2146.838,2154.713,2011.6,2127.9c-135.236-26.474-202.179-184.3-136.416-307.4,66.269-123.095,264.738-211.791,382.605-283.118,117.361-70.822,153.109-124.95,203.19-173.513,49.744-48.732,113.821-92.743,176.717-91.562C2701.27,1273.49,2763.829,1319.186,2906.315,1325.763Z", :transform => "translate(3040.585 2903.761) rotate(-166)"}
    .video__wrapper
      -# .video__subtitle.subtitle Product
      .video__title How does it work?
      %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "463", :src => "https://www.youtube.com/embed/2ETuk92lSRQ", :width => "820"}
%section.company
  .container
    .company__wrapper
      .company__text
        -# .company__subtitle.subtitle Company
        %h2.company__title Why Ediofy?
        .company__descr
          %p.company__descr-item
            With the demands of everyday shift work and continuing professional
            development (CPD), keeping up with our responsibilities can be overwhelming – especially for those of us
            in training.
          %p.company__descr-item
            Ediofy is a dedicated hub where you can access and share educational content
            and experiences, manage your CPD, and foster social connections.
        %a.company__text-link.start-btn{:href => "#"} Start learning
      .company__bg
        %img{:alt => "abc", :src =>  image_url('ediofy/company-bg.svg')}/

        
%footer.footer
  .container
    -# .footer__line-up
    .footer__wrapper
      .footer__logo
        %a.footer__logo-link{:href => "#"}
          %img.header__logo-img{:alt => "footer-logo", :src =>   image_url('ediofy/logo.svg')}/


        
      .footer__nav
        .footer__nav-links
          %a.footer__nav-link{:href => "/faq"} FAQs/Help
          %a.footer__nav-link{:href => "about"} About Us
          -# %a.footer__nav-link.footer__nav-link--bold{:href => "#"} Ediofy Education
          %a.footer__nav-tel{:href => "mailto:hello@ediofy.com"}
            %i.fas.fa-envelope>
            hello@ediofy.com
        .footer__contact-btn
          %a.header__menu-link.signin-btn{:href => "#"} Sign in
%script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/dd9ea52127.js"}
-# %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}




= javascript_include_tag "rellax.min.js"
= javascript_include_tag "wow.min.js"
= javascript_include_tag "main.js"


-# .pageContent.opscontent
-#   %section.signinLeft.first-slide-banner{style: 'background-image: url('+image_url("ediofy/first-slider-imag.jpg")+')'}
-#     .container
-#       .fullheight
-#         .displayCell
-#           .displayTable.clearfix.pdttop
-#             .col-md-7.displayCell
-#               %h1.main-head.text-left.clrwhite.home-title The best mentor you can have, is all of them.
-#               .righthomecontent
-#                 %h4 Learn the latest medical practices and procedures, from best in field industry peers.
-#                 %div
-#                   = link_to 'Start learning', '#', class: 'btn button color-blue back-hov-clr test'
-#                 %br
-#                 %a.clrwhite.ntblue{:href => "/about"} What is Ediofy?
-#             .col-md-5.displayCell
-#       .scroll-next
-#         %a{:href => "#"}
-#           Discover Ediofy
-#           %i.fa.fa-chevron-down{"aria-hidden" => "true"}
-#   %section.signinLeft.video-play.second-slide-img{style: 'background-image: url('+image_url("ediofy/secount-slider-img.jpg")+')'}
-#     .container
-#       .fullheight
-#         .displayCell
-#           .inner-sec
-#             %h2.main-head.text-center.h1 Open access medical education with thousands or articles, discussions and videos.
-#             .row.three-cols.clearboth
-#               .col-md-4.post-cart
-#                 %div
-#                   .video-player.withBg-card{style: 'background-image: url('+image_url('ediofy/video-player-img.jpg', alt: 'video-player-img')+')'}
-#                     %a{:href => "#"}
-#                       .vid-con.vid
-#                         %p Media
-#                   .video-content
-#                     %h6 How smoking causes COPD
-#                     .author-name
-#                       %span
-#                         = image_tag('ediofy/man.png', alt: 'man-icon')
-#                       %p
-#                         Dr Michael Smith
-#                         %span General Practice
-#                     .row.like-seen-msg
-#                       .like-icon.col-sm-5.col-xs-5.col-md-5
-#                         %span
-#                           %i.fa.fa-thumbs-up{"aria-hidden" => "true"}>
-#                           2000
-#                       .text-right.col-sm-7.col-xs-7.col-md-7
-#                         %span
-#                           %i.fa.fa-comment{"aria-hidden" => "true"}
-#                           450
-#                         %span
-#                           %i.fa.fa-eye{"aria-hidden" => "true"}
-#                           2200
-#               .col-md-4.post-cart
-#                 %div
-#                   .video-player.withBg-card{style: 'background-image: url('+image_url('ediofy/medium-audio.png', alt: 'medium-audio-playback')+')'}
-#                     %a{:href => "#"}
-#                       .vid-con.vid
-#                         %p Media
-#                   .video-content
-#                     %h6 Palpitations, MVR and PAF - A Rhythm Riddle
-#                     .author-name
-#                       %span
-#                         = image_tag('ediofy/man.png', alt: 'man-icon')
-#                       %p
-#                         Dr Michael Smith
-#                         %span General Practice
-#                     .row.like-seen-msg
-#                       .like-icon.col-sm-5.col-xs-5.col-md-5
-#                         %span
-#                           %i.fa.fa-thumbs-up{"aria-hidden" => "true"}>
-#                           2000
-#                       .text-right.col-sm-7.col-xs-7.col-md-7
-#                         %span
-#                           %i.fa.fa-comment{"aria-hidden" => "true"}
-#                           450
-#                         %span
-#                           %i.fa.fa-eye{"aria-hidden" => "true"}
-#                           2200
-#               .col-md-4.post-cart
-#                 %div
-#                   .video-player.withBg-card{style: 'background-image: url('+image_url('ediofy/doctor-des-img.jpg', alt: 'doctor-des-img')+')'}
-#                     %a{:href => "#"}
-#                       .vid-con.vid
-#                         %p Media
-#                       .vid-time.vid
-#                         %p 21:00
-#                   .video-content
-#                     %h6 Palpitations, MVR and PAF - A Rhythm Riddle
-#                     .author-name
-#                       %span
-#                         = image_tag('ediofy/man.png', alt: 'man-icon')
-#                       %p
-#                         Dr Michael Smith
-#                         %span General Practice
-#                     .row.like-seen-msg
-#                       .like-icon.col-sm-5.col-xs-5.col-md-5
-#                         %span
-#                           %i.fa.fa-thumbs-up{"aria-hidden" => "true"}>
-#                           2000
-#                       .text-right.col-sm-7.col-xs-7.col-md-7
-#                         %span
-#                           %i.fa.fa-comment{"aria-hidden" => "true"}
-#                           450
-#                         %span
-#                           %i.fa.fa-eye{"aria-hidden" => "true"}
-#                           2200
-#             .text-center.clearboth
-#               = link_to 'Start learning', '#', class: 'btn button color-blue back-hov-clr test'
-#       .scroll-next
-#         %a{:href => "#"}
-#           Explore More
-#           %i.fa.fa-chevron-down{"aria-hidden" => "true"}
-#   %section.signinLeft.user.third-slider-img{style: 'background-image: url('+image_url("ediofy/third-slider-img.jpg")+')'}
-#     .container
-#       .fullheight
-#         .displayCell
-#           .inner-sec.users
-#             %h2.main-head.text-center.h1.clrwhite Connect with peers and share your knowledge and insights.
-#             .user-man.text-center
-#               .user-div
-#                 = image_tag('ediofy/author-connect11.png', alt: 'candi 1')
-#               .user-div
-#                 = image_tag('ediofy/author-connect22.png', alt: 'candi 2')
-#               .user-div
-#                 = image_tag('ediofy/author-connect33.png', alt: 'candi 3')
-#               .user-div
-#                 = image_tag('ediofy/author-connect44.png', alt: 'candi 4')
-#               .user-div
-#                 = image_tag('ediofy/author-connect55.png', alt: 'candi 5')
-#             .text-center.clearboth
-#               = link_to "Get started", '#', class: "btn button color-blue back-hov-clr test"
-#       .scroll-next
-#         %a{:href => "#"}
-#           Explore More
-#           %i.fa.fa-chevron-down{"aria-hidden" => "true"}
-#   %section.signinLeft.pc-con.inner-footer.four-slider-img{style: 'background-image: url('+image_url("ediofy/four-slider-img.jpg")+')'}
-#     .container
-#       .fullheight
-#         .displayCell
-#           .displayTable.clearfix.last-sec
-#             .col-md-12.displayCell.text-center
-#               %h2.main-head.h1.clrwhite Learn from leading experts and your peers from all around the world.
-#               %p
-#                 Working on an interesting case? Share it in real time and let others learn from your experience.
-#                 %br
-#                 Need to brush up on your knowledge in a hurry or studying for an exam? Access a world of information from your device.
-#             .col-md-6.displayCell
-#           .text-center.clearboth
-#             = link_to "Get started", '#' ,class: "btn button color-blue back-hov-clr test"
-#     %footer.footer
-#       .container-fluid
-#         .row
-#           .foot-nav.col-md-6.text-left
-#             %ul
-#               %li
-#                 = link_to 'About Ediofy', about_path
-#               %li
-#                 = link_to 'Help  FAQs', faq_path
-#               %li
-#                 = link_to 'Terms & conditions', ediofy_terms_path
-#               %li
-#                 = link_to 'Privacy Policy', privacy_path  
-#           .foot-copy.col-md-6.text-right
-#             %p &#xA9; 2018 Ediofy Pty Ltd
-# :javascript
-#   $(document).ready(function(){
-#     $(".opscontent").onepage_scroll({
-#       sectionContainer: "section",
-#       responsiveFallback: 1023,
-#       loop: false
-#     });
-#     $('.scroll-next a').on('click', function(){
-#       $(".opscontent").moveDown();
-#     });
-#   });