.comment-link-action
{
  width: 35px;
  height: 15px;
  font-family: Cabin;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #878da0;
}

.comment-link-action.delete { 
   color: #e70057;
}